!!!  
%html  
  %head  
    %title My Sinatra Website  
    %link{:rel => "stylesheet", :href => "stylesheets/style.css", :type => "text/css", :media => "all"}

  %body  
    #wrapper  
      #header  
        %h1 My Bad Website  
        %h2 A Simple Site made with Sinatra and HAML!  
  
      #content  
        %h1 The Home Page  
        %p  
          Welcome to my website made with Sinatra and HAML.  
        %p  
          This is the home page and this is some text to fill out the home page!  
  
      #side_bar  
        %h1 Side Bar  
        %p  
          This is the side bar of the webpage  
  
      #footer  
        %p  
          This is the footer.  