!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Greenville Grok
    / %meta{:name=>"viewport", :content=>"width=device-width,user-scalable=no"}
    %meta{:name=>"viewport", :content=>"width=device-width"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    / Le styles
    :css
      body {
        padding-top: 60px;
      }
    %link{:rel => "stylesheet", :href => "stylesheets/style.css", :media => "all"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", :type => "text/javascript"}
    %script{:src => "/javascripts/app.js", :type => "text/javascript"}
    %script{:src => "http://use.typekit.com/ovd0ryf.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    / Le fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
  %body
    .container
      .row.top
        .span3.first
        .span3.offset1
        .span3
        .span3
        .span3
      .row
        .span3.side
          %img.logo{:src=>'/images/logo.png', :width=>'160', :height=>'95'}
          %ul
            %li
              %a{:href => "#location"} Location
            %li
              %a{:href => "#tickets"} Tickets
            %li
              %a{:href => "#sponsors"} Sponsors
            %li
              %a{:href => "#faqs"} Faqs
            %li
              %a{:href => "#contact"} Say Hello
          %img.logo{:src=>'/images/logo.dude.jpg', :width=>'100', :height=>'118'}



        .span10.offset4.main
          %img.mobile-logo{:src=>'/images/logo.mobile.png', :width=>'575', :height=>'322', :alt=>'Greenville Grok'}
          %h2 A small thing, in a great place, with wonderful people, asking a ton of questions and making headway on some decent answers.          
          .row.calendar.tk-chaparral-pro.jump#location
            .span2.first
              Greenville
              %span SC
            .span2
              Mar
              %span 15
            .span2
              Mar
              %span 16
            .span2
              Mar
              %span 17
             
          .row
            .span5
              %h4 What the fock is Grok?
              %p <em>Greenville Grok</em> — a small thing, in a great place with wonderful ideas producing an utterly profound experience. Grok is a teaching &amp; learning thing, for everyone. 
            .span5
              %h4 Grok is 100% free.
              %p And always will be. It's core belief that helps keep this conference small and real. We won't grow into a behemoth conference; it would kill the awesome.
          
          .jump#sponsors
            %h3 We're accepting sponsors for Greenville Grok 2012
            %p If you're interested in getting your name and business in front of some of the web's best minds we'd love to help you do that. Download the <a href="/grok-sponsorship.pdf">Grok Sponsorship Packet</a> and get in touch.

          / 
            .sponsors
              .row
                .span10
                  %p Place-holder text?
              .row
                .span5
                  %p Place-holder text?
                .span5
                  %p Place-holder text?
              .row
                .span2
                  %p Place-holder text?
                .span2
                  %p Place-holder text?
                .span2
                  %p Place-holder text?
                .span2
                  %p Place-holder text?
              .row 
                .span2
                  %p Place-holder text?
                .span2
                  %p Place-holder text?
                .span2
                  %p Place-holder text?
                .span2
                  %p Place-holder text?
              
          %hr
          
          .faqs.jump#faqs
            %h3 Frequently Asked Questions
            %p We haven't actually been asked any of these questions yet, and we hope these answers will keep it that way.

            %ol.tk-chaparral-pro
              %li
                %h4 How many people are you letting through the gates?
                %p We'll be letting 100 people into Greenville Grok. We want to keep things small and true. Also, Grok is repeatable. You have no excuse for not doing your own Grok, and if you ask nicely we'll even help you do it.
              %li.jump#tickets
                %h4 When will tickets be available?
                %p We should have tickets available on <a href="http://EventBrite.com">Event Brite</a> before mid January.
              %li
                %h4 Who is doing this thing?
                %p Grok is the outcome of a groggy beer dream of <a href="http://twitter.com/whale">Matthew Smith</a>. After too much time and money spent at SXSW in 2010 he decided to force people to come to him. Lazy sod. It worked, and now that it's in its second year, it's now a <a href="http://coworkgreenville.com">CoWork</a> led gig. We also got some help from some <a href="http://twitter.com/blankenship">amazing</a> <a href="http://twitter.com/chandlervdw">friends</a> <a href="http://twitter.com/fictivecameron">who</a> <a href="http://twitter.com/shiflett">love</a> us with their talents and their good looks.

          %hr
          
          .contact.jump#contact
            %h3 Contact someone at Greenville Grok
            %p We are people and unless provoked we rarely bite. The twitters are a good way to get a hold of us. Either via <a href="http://twitter.com/greenvillegrok">@greenvillegrok</a> or <a href="http://twitter.com/cowork">@CoWork</a>. 

          %footer
            %p © 2011. Designed by <a href="http://twitter.com/whale" target="_blank">Matthew Smith</a> and deftly built by the bearded wonder known as <a href="http://twitter.com/masondesu" target="_blank">Mason Stewart</a>.





