!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Greenville Grok
    / %meta{:name=>"viewport", :content=>"width=device-width,user-scalable=no"}
    %meta{:name=>"viewport", :content=>"width=device-width"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    %link{:rel => "stylesheet", :href => "stylesheets/style.css", :media => "all"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", :type => "text/javascript"}
    %script{:src => "/javascripts/app.js", :type => "text/javascript"}
    %script{:src => "http://use.typekit.com/ovd0ryf.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    / Le fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
  %body#top
    .bg
    #header
      %img{:src=>'/images/grok.png'}
    .container
      .row.top
        .span2.first
        .span2.offset1
        .span2
        .span2
        .span2
      .row.row-fix
        .fix
          .span2.side
            %a.jump{:href=>'#top'}
              %img.logo{:src=>'/images/logo.png', :width=>'160', :height=>'95'}
            %ul
              %li
                %a{:href => "#location"} Location
              %li
                %a{:href => "#tickets"} Tickets
              %li
                %a{:href => "#sponsors"} Sponsors
              %li
                %a{:href => "#faqs"} Faqs
              %li
                %a{:href => "#contact"} Say Hello



        .span8.offset3.main
          %img.mobile-logo{:src=>'/images/logo.mobile.png', :width=>'575', :height=>'322', :alt=>'Greenville Grok'}

          %h2.lottery
            The ticket lottery is now live! Sign up 
            <a href="https://tito.io/greenville-grok/2013" target="_blank">here</a>.

          %h2{style:"margin-top:20px;"} Grok is an invitation. Come to one of the best small cities in the nation. Talk, listen, eat and drink with world class people asking a ton of hard questions, digging into great issues, and making headway on some decent real-world solutions.
          .row.calendar.tk-chaparral-pro.jump#location

            %a.span2.first{:href=>'http://g.co/maps/t3udp', :target=>"_blank"}
              Greenville
              %span SC
            .span2
              May
              %span 30
            .span2
              May
              %span 31
            .span2
              Jun
              %span 1

          .row
            .span4
              %h4 What the fock is Grok?
              %p It's a three day event with sans the how-to sessions from industry leaders. We think a 10 minute session of hard questions from a new face is as good as a lock-tight answer from an old pro. We started Grok because we wanted to learn big, and go big.
            .span4
              %h4 Grok is about Greenville
              %p We throw Grok here because we are totally nuts for this place. Beer flows in the streets and the buildings are made from Belgian chocolate – that might as well be true because that's how we feel about it. Once you see Greenville for yourself, we think you'll have second thoughts about leaving.

          .jump
            %h3 Listen to what these bozos have to say about Grok
            %p Last year was an amazing endeavor into running a wild new kind of event. Check it out.
            %iframe{:allowFullScreen => "", :frameborder => "0", :height => "348", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/53628950?badge=0", :webkitAllowFullScreen => "", :width => "620"}

          .jump#tickets{:style => "margin-top: 50px;"}
            %h3 Tickets

            %p You <a href="https://tito.io/greenville-grok/2013" target="_blank">can now signup</a> for the ticket lottery to get into Grok 2013. If selected, tickets will cost $150.

            %p
              We're running a lottery system this year because we sold out last year and wanted to make this as fair as possible. We'll take your interest, your name, and payment information first.

              %b You won't be charged unless you are accepted into the lottery.

            %p We'll notify everyone on Monday, February 11th.

            %p In the meantime you have two choices. You can either browse the best gifs on the <a href="http://gim.ie/k0p" target="_blank">webernets</a> or just <a href="http://eepurl.com/rM2pP" target="_blank">sign up for our newsletter</a>.

            %br

          .jump#sponsors
            %h3 We only accept the best sponsors
            %p Below are the sponsors who help make Grok the real deal. We use and love these products. Please take a moment to check them out. We have additional spots open for sponsorships. Please <a href="mailto:grok@theironyard.com">inquire</a> if you're interested.


          .sponsors
            .row
              .span8
                %a{:href => 'http://www.mailchimp.com'}
                  %img{:src => '/images/sponsors/mailchimp.jpg'}
            .row
              .span8
                %a{:href => 'http://typekit.com/'}
                  %img{:src => '/images/sponsors/typekit.png'}
            .row
              .span4
                %a{:href => 'http://www.behance.com'}
                  %img{:src => '/images/sponsors/behance.png'}
              .span4
                %a{:href => 'http://www.twitter.com'}
                  %img{:src => '/images/sponsors/twitter.png'}
            .row
              .span2
                %a{:href => 'http://www.getharvest.com'}
                  %img{:src => '/images/sponsors/harvest.jpg'}

            -#   .span5
            -#     %a{:href => 'http://www.blumercpas.com'}
            -#       %img{:src => '/images/sponsors/blumer.jpg'}
            -# .row
            -#   .span5
            -#     %a{:href => 'http://www.ricebowls.org'}
            -#       %img{:src => '/images/sponsors/ricebowls.jpg'}
            -#   .span5
            -#     %a{:href => 'http://www.invisionapp.com'}
            -#       %img{:src => '/images/sponsors/invision.jpg'}
            -# .row
            -#   .span5
            -#     %a{:href => 'http://coworkgreenville.com/'}
            -#       %img{:src => '/images/sponsors/cowork.png'}
            -#   .span5
            -#     %a{:href => 'http://simplyrecipes.com/'}
            -#       %img{:src => '/images/sponsors/simplyrecipes.png'}
            -# .row
            -#   .span5
            -#     %a{:href => 'http://thenextbig.co/'}
            -#       %img{:src => '/images/sponsors/tnbt.png'}
            -#   .span5
            -#     %a{:href => 'http://typekit.com/'}
            -#       %img{:src => '/images/sponsors/typekit.jpg'}
            -# .row
            -#   .span2
            -#     %a{:href => 'http://www.madebyparachute.com/'}
            -#       %img{:src => '/images/sponsors/parachute.jpg'}
            -#   .span2
            -#     %a{:href => 'http://www.peachpit.com/imprint/index.aspx?st=61074'}
            -#       %img{:src => '/images/sponsors/newriders.jpg'}
            -#   .span2
            -#     %a{:href => 'http://www.ugmonk.com'}
            -#       %img{:src => '/images/sponsors/ugmonk.jpg'}
            -#   .span2
            -#     %a{:href => 'http://www.billingsapp.com'}
            -#       %img{:src => '/images/sponsors/billings.jpg'}
            -# .row
            -#   .span2
            -#     %a{:href => 'http://www.stickermule.com'}
            -#       %img{:src => '/images/sponsors/stickermule.jpg'}
          %hr

          .faqs.jump#faqs
            %h3 Frequently Asked Questions
            %p We haven't actually been asked any of these questions yet, and we hope these answers will keep it that way.
            #tickets.jump
            %ol.tk-chaparral-pro
              %li
                %h4 How many people are you letting through the gates?
                %p We'll be letting 250 people into Greenville Grok. We want to keep things small and true. We're growing beyond the gates of the web industry and getting more people from more spaces involved. It's gonna be a great year.
              %li
                %h4 Who is doing this thing?
                %p Grok is the outcome of a groggy beer dream of <a href="http://matthewsmith.cc" target="_blank">Matthew Smith</a>. After too much time and money spent at SXSW in 2010 he decided to force people to come to him. Lazy sod. It worked, and now that it's in its third year, it's now a thing by <a href="http://theironyard.com" target="_blank">The Iron Yard</a>. We also got some help from some <a href="http://coworkgreenville.com" target="_blank">amazing friends who love us</a> with their talents and their good looks.
          %hr

          .contact.jump#contact
            %h3 Contact someone at Greenville Grok
            %p We are people and unless provoked we rarely bite. The twitters are a good way to get a hold of us. Either via <a href="http://twitter.com/greenvillegrok">@greenvillegrok</a> or <a href="http://twitter.com/cowork">@CoWork</a>, and only in case of zombies may you write <a href="mailto:grok@theironyard.com">grok@theironyard.com</a>.

          %footer
            %p © #{Time.now.strftime("%Y")}. Designed by <a href="http://twitter.com/whale" target="_blank">Matthew Smith</a> and built by the bearded wonder <a href="http://twitter.com/masondesu" target="_blank">Mason Stewart</a>.
